/* index1 */
#banner{
    background-image:url(../p/99.jpg);
height: 500px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
#title-1{
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}
/* index2 */
#banner1{
    background-image:url(../p/999.jpg);
height: 500px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}