#banner{
    background-image: url(../images/橫幅.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin-top: 3.5 rem;
  }
  .title{
    color: red;
    font-weight: bold;
  }
